* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 14px;
  /*color: #033649;*/
  line-height: 1.5;
  font-weight: 200;
  /*-webkit-backface-visibility: hidden;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0 10px 0;
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  letter-spacing: 1px;
}

h3 {
  font-weight: lighter;
  -webkit-text-stroke-width: 1px;
  font-size: 5em;
  letter-spacing: 10px;
  line-height: 2em;
  padding-top: 15px;
  height: 10px;
  color: #FFFFFF;
  font-family:'Futura Light', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

h2 {
  font-size: 1.5em;
  color: #C44D58;
} 

a {
  text-decoration: none;
  color: #99FFF8;
}

a:hover {
  text-decoration: underline;
}

h2 a {
  color: inherit;
}

p {
  margin-bottom: 10px;
}

.container {
  position: relative;
  z-index: 2;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  /*-webkit-filter: blur(0px); */
/*  margin-bottom: 20px;
  padding: 0 20px;*/
}

#content {
  margin-top: -100px;
  padding: 20px;
}

.btn {
  display: inline-block;
  margin-top: 400px;
  padding: 6px 24px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid rgba(153,255,248, 0.6);
  border-radius: 4px;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.35s ease-out;
     -moz-transition: all 0.35s ease-out;
       -o-transition: all 0.35s ease-out;
          transition: all 0.35s ease-out;
}

.btn:hover {
  text-decoration: none;
  border-color: rgba(153,255,248, 0.6);
  background-color: rgba(153,255,248, 0.6);
  color: #f8f8f8;
}

.btn:active {
  border-color: rgba(153,255,248, 0.6);
  background-color: rgba(153,255,248, 0.6);
}


.btn-danger {
  color: rgba(196,77,88, 1.0);
  border: 2px solid rgba(196,77,88, 0.4);
}

.btn-danger:hover {
  border-color: rgba(196,77,88, 0.7);
  background-color: rgba(196,77,88, 0.7);
}

.btn-danger:active {
  border-color: rgba(196,77,88, 1.0);
  background-color: rgba(196,77,88, 1.0);
}

.btn-inverse {
  color: rgba(85,98,112, 1.0);
  border: 2px solid rgba(85,98,112, 0.4);
}

.btn-inverse:hover {
  border-color: rgba(85,98,112, 0.7);
  background-color: rgba(85,98,112, 0.7);
}

.btn-inverse:active {
  border-color: rgba(85,98,112, 1.0);
  background-color: rgba(85,98,112, 1.0);
}

.trick-container {
  /*display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  */
  height: 600px;
  width: 100%;
  z-index: 100;
  text-align: center;
  /*opacity: 0;*/
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Roboto', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

.bottom{
    -webkit-transform: rotatex(0deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    z-index: -1;
}

.top{
    /*-webkit-transform: rotatex(0deg);*/
    z-index: 2;
}

.trick-one {
  box-shadow: 3px 3px 50px 5px rgba(0,0,0,.5);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0.5) 100%),url(../images/grip.png); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(20%,rgba(0,0,0,0.2)), color-stop(80%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.5))),url(../images/grip.png); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0.5) 100%),url(../images/grip.png); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0.5) 100%),url(../images/grip.png); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0.5) 100%),url(../images/grip.png); /* IE10+ */
  background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0.5) 100%),url(../images/grip.png); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=1 ),url(../images/grip.png); /* IE6-9 */
  position: absolute;
  min-width: 350px;
  left: 34%;
  top: 28%;
  border-radius: 150px / 120px;
  border: 2px solid #e5d6ac;
  padding: 16px 18px;
  height: 11%;
  width: 30%;
  text-align: center;
  line-height: 50px;
  z-index: 2;
  position:absolute;

}

.multiple .trick-one {
  left: 65%;
}

.trick-two {
  display: none;
  background-color: rgba(0,0,0, 1.0);
}

.multiple .trick-two {
  display: block;
  left: 35%;
}

#bolts-left, #bolts-right {
  margin-top: 4.7%;
  height: 50%;
  width: 10%;
  background-image: url('../images/bolts.png');
  background-repeat: no-repeat;
  /*background-color: green;*/
}
#bolts-left {
  float: left;
  margin-left: 11%;
}
#bolts-right {
  float: right;
  margin-right: 11%;
}

/* https://github.com/miniMAC/magic */
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-o-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

#da-streetz { 
  background-image: url('../images/asphalt-bg.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 20s linear infinite;
  -ms-animation: animatedBackground 20s linear infinite;
  -moz-animation: animatedBackground 20s linear infinite;
  -webkit-animation: animatedBackground 20s linear infinite;
}

@-moz-keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  30% {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -moz-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -ms-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -o-transform: scale(1, 1) rotate(0deg) translateY(0%);
    transform: scale(1, 1) rotate(0deg) translateY(0%);
  }
}
@-webkit-keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  30% {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -moz-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -ms-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -o-transform: scale(1, 1) rotate(0deg) translateY(0%);
    transform: scale(1, 1) rotate(0deg) translateY(0%);
  }
}
@-o-keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  30% {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -moz-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -ms-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -o-transform: scale(1, 1) rotate(0deg) translateY(0%);
    transform: scale(1, 1) rotate(0deg) translateY(0%);
  }
}
@-ms-keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  30% {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -moz-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -ms-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -o-transform: scale(1, 1) rotate(0deg) translateY(0%);
    transform: scale(1, 1) rotate(0deg) translateY(0%);
  }
}
@keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  30% {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -moz-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -ms-transform: scale(1, 1) rotate(0deg) translateY(0%);
    -o-transform: scale(1, 1) rotate(0deg) translateY(0%);
    transform: scale(1, 1) rotate(0deg) translateY(0%);
  }
}